<div class="cc-ps-operation-check cc-ps-xacml-operation-check cc-green-checkbox-radio-box height-100-percent">
  <label class="nobold cc-green-checkbox-radio-label">
    <input id="checkbox-xacml-selectAll" type="checkbox" class="cc-green-checkbox-radio" data-ng-model="checkStatus.allPolicyChecked" data-ng-change="checkAllPolicy(checkStatus.allPolicyChecked)"><span><span id="checkbox-span-xacml-selectAll" class="cc-green-checkbox-radio-bgrd-holder"></span></span></label>
</div>
<div class="cc-inline cc-ps-operation-btn">
<!--  <button class="btn btn-default cc-ps-btn cc-btn-export cc-ps-btn-cc-big" title="Export" data-ng-disabled="!checkStatus.hasPolicyChecked" data-ng-click="exportSelectedPolicies($event)"></button>-->
  <button id="button-xacml-delete" class="btn btn-default cc-ps-btn cc-ps-btn-cc-big" title="Delete" data-ng-disabled="!checkStatus.hasPolicyChecked" data-ng-click="bulkDelete($event)"><i id="icon-xacml-delete" class="fa fa-trash"></i></button>
</div>
