<div id="taskPortalConnectionDetails" class="cc-ps-create-page-editor-title">
    <span class="cc-ps-create-page-title-underline">
        {{"enrollment.connection.details" | translate}}</span>
</div>

<div class="cc-ps-create-page-editor-info">
    <div class="cc-create-page-editor-data cc-user-manual-anchor">
        <label id="label-enrollment-portal-domain">Portal Domain URL
            <i id="icon-plugin-name-manual" class="fa cc-about-individual-question fa-question-circle" data-ng-click="showUserManual['AD - Server'] = true" data-ng-if="pageOptionList['AD - Server']"> </i>
        </label>
        <div class="">
            <input id="tf-enrollment-portal-domain" type="text"
                   class="cc-ps-create-page-editor-input-placeholder cc-create-page-editor-data-right cc-create-enrollment-common-server-input cc-long-text-ellipsis cc-create-textfield-width"
                   name="portalServer" placeholder="{{'enrollment.connection.server.url.placeholder' | translate}}"
                   data-ng-model="portalProperties['domain'].value"
                   data-ng-focus="highlightGrammar('portalServer')" required ng-maxlength="255" maxlength="255"
                   data-ng-disabled="isEditMode && enrollment.created">
            <div class="cc-validation-block" ng-messages="enrollmentForm.val.portalServer.$error" ng-if="enrollmentForm.val.portalServer.$touched || saveExecuted">
                <p ng-message="maxlength">{{"toolManagement.createTask.validation.maxLength" | translate}}</p>
                <p ng-message="required" class="cc-validation-block-no-margin">{{"toolManagement.createTask.validation.required" | translate}}</p>
                <p ng-message="pattern">{{"toolManagement.createTask.validation.pattern" | translate}}</p>
            </div>
        </div>
        <user-manual class="cc-user-manual-input cc-user-manual-position-right" data-app="{{userManualOption.app}}" data-section="{{userManualOption.section}}" data-page="{{userManualOption.page}}" key="AD - Server" data-ng-model="showUserManual['AD - Server']"></user-manual>
    </div>

    <div class="cc-create-page-editor-data cc-user-manual-anchor">
        <label id="label-enrollment-portal-username">Username
            <i id="icon-enrollment-ad-username-manual" class="fa cc-about-individual-question fa-question-circle" data-ng-click="showUserManual['AD - Server Username'] = true" data-ng-if="pageOptionList['AD - Server Username']"> </i>
        </label>
        <div class="">
            <input id="tf-enrollment-portal-username" type="text"
                   class="cc-ps-create-page-editor-input-placeholder cc-create-page-editor-data-right cc-create-enrollment-common-server-input cc-long-text-ellipsis cc-create-textfield-width"
                   name="portalUsername" placeholder="{{'enrollment.connection.server.username.placeholder' | translate}}"
                   data-ng-model="portalProperties['login'].value" title="{{enrollment.name}}"
                   data-ng-focus="highlightGrammar('portalUsername')" required ng-maxlength="255" maxlength="255"
                   data-ng-disabled="isEditMode && enrollment.created">
            <div class="cc-validation-block" ng-messages="enrollmentForm.val.portalUsername.$error" ng-if="enrollmentForm.val.portalUsername.$touched || saveExecuted">
                <p ng-message="maxlength">{{"toolManagement.createTask.validation.maxLength" | translate}}</p>
                <p ng-message="required" class="cc-validation-block-no-margin">{{"toolManagement.createTask.validation.required" | translate}}</p>
                <p ng-message="pattern">{{"toolManagement.createTask.validation.pattern" | translate}}</p>
            </div>
        </div>
        <user-manual class="cc-user-manual-input cc-user-manual-position-right" data-app="{{userManualOption.app}}" data-section="{{userManualOption.section}}" data-page="{{userManualOption.page}}" key="AD - Server Username" data-ng-model="showUserManual['AD - Server Username']"></user-manual>
    </div>

    <div class="cc-create-page-editor-data cc-user-manual-anchor">
        <label id="label-enrollment-portal-password">Password
            <i id="icon-enrollment-ad-password-manual" class="fa cc-about-individual-question fa-question-circle" data-ng-click="showUserManual['AD - Server Password'] = true" data-ng-if="pageOptionList['AD - Server Password']"> </i>
        </label>
        <div class="">
            <input id="tf-enrollment-portal-password" type="password"
                   class="cc-ps-create-page-editor-input-placeholder cc-create-page-editor-data-right cc-create-enrollment-common-server-input cc-long-text-ellipsis cc-create-textfield-width"
                   name="portalPassword" placeholder="{{'enrollment.connection.server.password.placeholder' | translate}}"
                   data-ng-model="portalProperties['password'].value"
                   data-ng-focus="highlightGrammar('portalPassword')" required ng-maxlength="255" maxlength="255"
                   data-ng-disabled="isEditMode && enrollment.created">
            <div class="cc-validation-block" ng-messages="enrollmentForm.val.portalPassword.$error" ng-if="enrollmentForm.val.portalPassword.$touched || saveExecuted">
                <p ng-message="maxlength">{{"toolManagement.createTask.validation.maxLength" | translate}}</p>
                <p ng-message="required" class="cc-validation-block-no-margin">{{"toolManagement.createTask.validation.required" | translate}}</p>
                <p ng-message="pattern">{{"toolManagement.createTask.validation.pattern" | translate}}</p>
            </div>
        </div>
        <user-manual class="cc-user-manual-input cc-user-manual-position-right" data-app="{{userManualOption.app}}" data-section="{{userManualOption.section}}" data-page="{{userManualOption.page}}" key="AD - Server Password" data-ng-model="showUserManual['AD - Server Password']"></user-manual>
    </div>

    <div class="cc-create-page-editor-data cc-user-manual-anchor">
        <label id="label-enrollment-portal-sites" >Portal Site
            <i id="icon-enrollment-portal-sites-manual" class="fa cc-about-individual-question fa-question-circle" data-ng-click="showUserManual['AD - Root'] = true" data-ng-if="pageOptionList['AD - Root']"> </i>
        </label>
        <div ng-repeat="root in portals track by $index" ng-class="{'cc-enrollment-roots-gap': $index > 0}">
            <div class="cc-create-page-common-del-anchor cc-enrollment-roots">
                <i class="fa fa-times-circle-o cc-create-page-common-del-icon remove-tag-condition cc-enrollment-roots-icon"
                   ng-click="deletePortal($index)" ng-if="portals.length > 1"></i>
                <input id="tf-portal-{{$index}}" type="text"
                       class="cc-ps-create-page-editor-input-placeholder cc-create-page-editor-data-right cc-create-enrollment-common-input cc-long-text-ellipsis cc-create-textfield-width"
                       name="site{{$index}}" placeholder="The portal site URL" data-ng-model="portals[$index]"
                       title="{{enrollment.name}}" data-ng-focus="highlightGrammar('taskName')" ng-maxlength="255" maxlength="255"
                       data-ng-disabled="isEditMode && enrollment.created" required>
            </div>
            <div class="cc-validation-block" ng-messages="enrollmentForm.val['site' + $index].$error" ng-if="enrollmentForm.val['site' + $index].$touched || saveExecuted">
                <p ng-message="maxlength">{{"toolManagement.createTask.validation.maxLength" | translate}}</p>
                <p ng-message="required" class="cc-validation-block-no-margin">{{"toolManagement.createTask.validation.required" | translate}}</p>
                <p ng-message="pattern">{{"toolManagement.createTask.validation.pattern" | translate}}</p>
            </div>
        </div>

        <div data-ng-show="showUserManual.Name"
             class="cc-user-manual cc-user-manual-input cc-user-manual-position-right"
             data-ng-if="pageOptionList['Name']">
            <span>
                <span>{{pageOptionList['Name']}}</span> <span class="cc-user-manual-close">
                    <i class="fa fa-times-circle" data-ng-click="closeManual('Name')"></i>
                </span>
            </span>
        </div>
        <button id=""
                class="btn btn-default cc-create-page-add-condition-btn cc-sub-item-margin cc-connection-details-margin"
                data-ng-click="addEmptyPortal()">ADD SITE</button>
        <user-manual class="cc-user-manual-input cc-user-manual-position-right" data-app="{{userManualOption.app}}" data-section="{{userManualOption.section}}" data-page="{{userManualOption.page}}" key="AD - Root" data-ng-model="showUserManual['AD - Root']"></user-manual>
    </div>

    <input id="btn-enrollment-portal-test-connection" class="btn btn-default cc-create-page-add-condition-btn"
           type="button" name="validateEnrollment" value="{{'enrollment.connection.test' | translate}}"
           data-ng-click="validateEnrollment()" />
    <label id="enrollment-portal-connection-test-result-label" class="cc-enrollment-connection-response-label cc-connection-response-label-green cc-edit-page-editor-data"
           data-ng-if="connectionTestSuccessful">{{"enrollment.common.connection.test.success" | translate}}
    </label>
    <div class="cc-h-seperator cc-h-seperator-margin"></div>
    <div class="cc-create-page-editor-data cc-user-manual-anchor">
        <div class="cc-flexbox">
            <div class="cc-mr-2">
                <label class="cc-item-margin" for="effect">{{"enrollment.connection.auto" | translate}}&nbsp;
                    <i id="icon-enrollment-description-manual" class="fa cc-about-individual-question fa-question-circle"
                       data-ng-click="showUserManual['Auto Sync'] = true" data-ng-if="pageOptionList['Auto Sync']"></i>&nbsp;
                    <user-manual id="manual-enrollment-datasource" class="cc-user-manual-input cc-user-manual-position-right"
                                 style="left: 90px; width: 500px;" data-app="{{userManualOption.app}}" data-section="{{userManualOption.section}}"
                                 data-page="{{userManualOption.page}}" key="Auto Sync"
                                 data-ng-model="showUserManual['Auto Sync']">
                    </user-manual>
                </label>
                <p class="cc-ps-search-text-container">
                        <span class="cc-ps-policy-effect-switch">
                            <switch ng-model="syncOn" ng-change="onSyncChange(syncOn)" class="cc-ps-search-switch-include-sub"></switch>
                        </span>
                    <input type="hidden" data-ng-focus="highlightGrammar('policyEffect')">
                </p>
            </div>
        </div>
        <div class="cc-tools-auto-sync-container" ng-if="syncOn">
            <div class="cc-tools-first-sync">
                <label class="cc-tools-first-sync-label">First sync on</label>
                <div class="input-group">
                    <input id="input-enrollment-portal-startDate"  type="text" name="enrollmentStartDate" class="form-control" uib-datepicker-popup="mediumDate"
                           ng-model="enrollmentStartDate.from.date" is-open="enrollmentStartDate.from.popupOpen"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close" readonly
                           min-date="enrollmentStartDate.from.minDate">
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="enrollmentStartDate.from.popupOpen = true">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                </div>
            </div>
            <div class="cc-tools-sync-at">
                <label>Sync at</label>
                <div class="cc-tools-time-picker">
                    <div class="cc-tools-time-picker-hour-container">
                        <i class="cc-tools-arrow-background" ng-click="upTime('hour')"></i>
                        <input class="cc-tools-time-picker-minute sync" type="number" value="{{ syncTime.hour }}"
                               ng-model="syncTime.hour" />
                        <i class="cc-tools-arrow-background-rotate" ng-click="downTime('hour')"></i>
                    </div>
                    <div class="cc-tools-time-picker-minute-container">
                        <i class="cc-tools-arrow-background" ng-click="upTime('minute')"></i>
                        <input class="cc-tools-time-picker-minute sync" type="number" value="{{syncTime.minute}}"
                               ng-model="syncTime.minute" />
                        <i class="cc-tools-arrow-background-rotate" ng-click="downTime('minute')"></i>
                    </div>
                    <div class="cc-tools-time-picker-format-container">
                        <i class="cc-tools-arrow-background" ng-click="toggleTimeFormat()"></i>
                        <input class="cc-tools-time-picker-minute sync" value="{{syncTime.format}}"
                               ng-model="syncTime.format" />
                        <i class="cc-tools-arrow-background-rotate" ng-click="toggleTimeFormat()"></i>
                    </div>

                </div>
            </div>
            <div class="cc-tools-sync-repeat">
                <label>Repeat for every</label>
                <div class="cc-tools-repeat-container">
                    <div>
                        <input class="cc-tools-input-number" type="number" ng-model="syncInterval.value" />
                    </div>
                    <div>
                        <select data-ng-model="syncInterval.unit" class="form-control cc-tools-select-type"
                                ng-options="timeUnit as timeUnit.label for timeUnit in timeUnits">
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- <div id="taskParameters" class="cc-ps-create-page-editor-title cc-common-gap">
    <span class="cc-ps-create-page-title-underline">
        DEFINITION DETAILS</span>
</div>
<div class="cc-ps-create-page-editor-info">
    <label>Portal type
        <i id="icon-enrollment-enrollment-type-manual" class="fa cc-about-indivual-question fa-question-circle"
            data-ng-click="showUserManual[parameter.displayName]=true"
            data-ng-if="pageOptionList[parameter.displayName]"></i>
    </label>
    <div class="cc-create-page-editor-data-right">
        <select id="select-enrollment-{{parameter.displayName | id}}" class="form-control cc-create-page-common-select"
            name="parameter_{{$index}}" data-ng-required="{{parameter.mandatory}}" data-ng-model="currentPortalType"
            style="width: 210px;" data-ng-change="onSelectChange(parameter)"
            data-ng-disabled="isEditMode  && enrollment.created && !parameter.editable"
            ng-options="portalType as portalType.name for portalType in portalTypes">
        </select>
    </div>
</div> -->