<div class="cc-ps-search-form">
  <!-- <p>{{searchCriteria}}</p> -->
  <form name="resourceSearchForm" id="resourceSearchForm" novalidate>
    <div class="cc-ps-search-option">
      <div class="btn-group btn-block cc-ps-dropdown-grp cc-ps-search-tag" data-uib-dropdown keyboard-nav auto-close="outsideClick" is-open="type_search_open">
        <a href="javascript:void(0)" class="cc-ps-clickable-dropdown-a">
          <button id="btn-resource-type-search" class="form-control cc-ps-button-common" type="button" uib-dropdown-toggle keyboard-nav>
            <span id="span-resource-type-search" class="cc-ps-dropdown-btn-label">
              <span class="cc-ps-dropdown-btn-title">{{"resourcesearch.label.Type" | translate}}:</span>
              <span class="cc-ps-dropdown-btn-label-content">&nbsp;{{searchOptions.typeLabel}}</span>
            </span>
            <span class="cc-ps-dropdown-btn-expand-icon"></span>
          </button>
        </a>
        <div data-uib-dropdown-menu keyboard-nav class="uib-dropdown-menu cc-ps-dropdown-menu cc-ps-search-dropdown-tags">
          <div role="menuitem" class="cc-ps-menu-item-left-padding">
            <a href="javascript:void(0)" class="cc-ps-clickable-dropdown-a"><label class="nobold cc-green-checkbox-radio-label">
              <input id="checkbox-resource-search-selectAllType" data-ng-model="searchOptions.$allTypeChecked" data-ng-disabled="searchOptions.$allTypeChecked" data-ng-change="allTypeChanged();" type="checkbox" class="cc-green-checkbox-radio">
              <span id="label-resource-type-allChecked" class="cc-ps-dropdown-all-label cc-ps-label-for-checkbox-radio">
                <span id="span-resource-type-allChecked" class="cc-green-checkbox-radio-bgrd-holder"></span>{{"resourcesearch.label.AllTypes" | translate}}</span>
            </label></a>
          </div>
          <div class="divider"></div>
          <ul role="menu" class="no-decoration cc-ps-search-tag-ul">
            <li role="menuitem" class="cc-ps-menu-item-left-padding" class="cc-ps-search-tag-item" data-ng-repeat='t in searchOptions.typeOptions'>
              <a href="javascript:void(0)" class="cc-ps-clickable-dropdown-a"><label class="nobold cc-green-checkbox-radio-label">
                <input id="checkbox-resource-search-selectType-{{t.label | id}}" type="checkbox" class="cc-green-checkbox-radio" data-ng-model="t.$_checked" data-ng-change="typeChanged();" value="{{t.id}}" data-ng-true-value="true">
                <span id="label-resource-type-{{t.label | id}}" class="cc-ps-search-item-label cc-ps-label-for-checkbox-radio">
                  <span id="span-resource-search-selectType-{{t.label | id}}" class="cc-green-checkbox-radio-bgrd-holder"></span>{{t.label}}</span>
              </label></a>
            </li>
          </ul>
          <!-- <div role="separator" class="clear divider"></div>
          <div role="menuitem" class="cc-ps-search-btn-line">
            <button type="button" class="btn btn-default btn-xs cc-ps-search-btn-on-dropdown cc-ps-search-apply-btn" data-ng-click="updateType();setDirty();type_search_open=false">{{"resourcesearch.label.Apply" | translate}}</button>&nbsp;&nbsp; <button type="button" class="btn btn-default btn-xs cc-ps-search-btn-on-dropdown cc-ps-search-cancel-btn" data-ng-click="type_search_open=false">{{"resourcesearch.label.Cancel" | translate}}</button>
          </div> -->
        </div>
      </div>
      <div class="btn-group btn-block cc-ps-dropdown-grp cc-ps-search-tag" data-uib-dropdown keyboard-nav auto-close="outsideClick" is-open="tags_search_open">
        <button id="btn-resource-tags-search" class="form-control cc-ps-button-common" type="button" uib-dropdown-toggle>
          <span id="span-resource-tags-search" class="cc-ps-dropdown-btn-label">
            <span id="label-tag-text" class="cc-ps-dropdown-btn-title">{{"resourcesearch.label.Tags" | translate}}:</span>
            <span id="label-tag-content" class="cc-ps-dropdown-btn-label-content">&nbsp;{{searchOptions.tagLabel}}</span>
          </span>
          <span id="icon-resource-tag-dropdown" class="cc-ps-dropdown-btn-expand-icon"></span>
        </button>
        <div data-uib-dropdown-menu keyboard-nav class="uib-dropdown-menu cc-ps-dropdown-menu cc-ps-search-dropdown-tags">
          <div role="presentation">
            <div class="cc-ps-tag-search">
              <input id="tf-resource-searchForTags" type="text" class="form-control" placeholder="Search for tags" data-ng-model="tagQuery" />
              <i id="icon-resource-searchForTags"  class="fa fa-search cc-ps-tag-search-icon"></i>
            </div>
          </div>
          <div role="menuitem" class="cc-ps-search-tag-item cc-ps-menu-item-left-padding">
            <a href="javascript:void(0)" class="cc-ps-clickable-dropdown-a"><label class="nobold cc-green-checkbox-radio-label">
              <input id="checkbox-resource-search-selectAllTag" data-ng-model="searchOptions.$allTagChecked" data-ng-disabled="searchOptions.$allTagChecked" data-ng-change="allTagChanged();" type="checkbox" class="cc-green-checkbox-radio">
              <span id="label-resource-search-selectAllTag" class="cc-ps-dropdown-all-label cc-ps-label-for-checkbox-radio">
                <span id="span-resource-search-selectAllTag" class="cc-green-checkbox-radio-bgrd-holder"></span>{{"resourcesearch.label.AllTags" | translate}}</span>
            </label></a>
          </div>

          <div role="menuitem" class="cc-ps-menu-item-left-padding">
            <a href="javascript:void(0)" class="cc-ps-clickable-dropdown-a"><label class="nobold cc-green-checkbox-radio-label">
              <input id="checkbox-resource-search-selectNoTag" data-ng-model="searchOptions.$noTagChecked" data-ng-change="noTagChanged();" type="checkbox" class="cc-green-checkbox-radio">
              <span id="label-resource-search-selectNoTag" class="cc-ps-dropdown-all-label cc-ps-label-for-checkbox-radio">
                <span id="span-resource-search-selectNoTag" class="cc-green-checkbox-radio-bgrd-holder"></span>{{"policysearch.label.NoTags" | translate}}</span>
            </label></a>
          </div>
          
          <div class="divider"></div>
          <ul role="menu" class="no-decoration cc-ps-search-tag-ul">
            <li role="menuitem" class="cc-ps-menu-item-left-padding" class="cc-ps-search-tag-item" data-ng-repeat='t in searchOptions.tagOptions | filter:tagQuery'>
              <a href="javascript:void(0)" class="cc-ps-clickable-dropdown-a"><label class="nobold cc-green-checkbox-radio-label">
                <input id="checkbox-resource-search-selectTag-{{t.label | id}}" type="checkbox" class="cc-green-checkbox-radio"
                  data-ng-model="t.$_checked" data-ng-change="tagChanged();" value="{{t.id}}" data-ng-true-value="true">
                <span class="cc-ps-search-item-label cc-ps-label-for-checkbox-radio">
                  <span class="cc-green-checkbox-radio-bgrd-holder"></span>{{t.label}}</span>
              </label></a>
            </li>
          </ul>
          <!-- <div role="separator" class="clear divider"></div>
          <div role="menuitem" class="cc-ps-search-btn-line">
            <button type="button" class="btn btn-default btn-xs cc-ps-search-btn-on-dropdown cc-ps-search-apply-btn" data-ng-click="updateTag();setDirty();tags_search_open=false">{{"resourcesearch.label.Apply" | translate}}</button>&nbsp;&nbsp; <button type="button" class="btn btn-default btn-xs cc-ps-search-btn-on-dropdown cc-ps-search-cancel-btn" data-ng-click="tags_search_open=false">{{"resourcesearch.label.Cancel" | translate}}</button>
          </div> -->
        </div>
      </div>
      <div class="btn-group btn-block cc-ps-dropdown-grp cc-ps-search-modified-date" data-uib-dropdown auto-close="outsideClick" is-open="modified_search_open">
        <button class="form-control cc-ps-button-common" type="button" data-uib-dropdown-toggle>
          <span class="cc-ps-dropdown-btn-label">
            <span id="label-resource-search-modified-date" class="cc-ps-dropdown-btn-title">{{"resourcesearch.label.ModifiedDate" | translate}}:</span>&nbsp;
            <span id="label-resource-search-modified-date-content" class="cc-ps-dropdown-btn-label-content">{{searchOptions.modifiedDateLabel}}</span>
          </span>
          <span id="icon-resource-search-modified-date" class="cc-ps-dropdown-btn-expand-icon"></span>
        </button>
        <ul data-uib-dropdown-menu keyboard-nav class="uib-dropdown-menu cc-ps-dropdown-menu" role="menu">
          <li role="menuitem" class="cc-ps-menu-item-left-padding">
            <a href="javascript:void(0)" class="cc-ps-clickable-dropdown-a"><label class="nobold cc-green-checkbox-radio-label" data-ng-click="updateCustomPeriod(undefined, $event);checkModifiedDate(searchOptions.specialModifiedDateOption);">
              <input type="radio" class="cc-green-checkbox-radio cc-ps-search-modifieddate" name="filter-by-modified-date" data-ng-model="searchOptions.specialModifiedDateOption.$_checked" data-ng-model-options="{ updateOn: 'modifiedDateApplied' }" data-ng-value="true" data-ng-change="">
              <span id="label-resource-search-AnyModifiedDate" class="cc-ps-search-item-label cc-ps-label-for-checkbox-radio">
                <span id="radio-resource-search-AnyModifiedDate" class="cc-green-checkbox-radio-bgrd-holder"></span>{{"resourcesearch.label.AnyModifiedDate" | translate}}</span>
            </label></a>
          </li>
          <li role="separator" class="divider cc-ps-menu-item-left-padding"></li>
          <li role="menuitem" class="cc-ps-menu-item-left-padding" data-ng-repeat="d in searchOptions.modifiedDateOptions">
            <a href="javascript:void(0)" class="cc-ps-clickable-dropdown-a"><label class="nobold cc-green-checkbox-radio-label" data-ng-click="updateCustomPeriod(d, $event);checkModifiedDate(d);">
              <input type="radio" class="cc-green-checkbox-radio cc-ps-search-modifieddate" name="filter-by-modified-date" data-ng-model="d.$_checked" data-ng-model-options="{ updateOn: 'modifiedDateApplied' }" data-ng-value="true" data-ng-change="">
              <span id="label-resource-search-{{d.label | id}}" class="cc-ps-search-item-label cc-ps-label-for-checkbox-radio">
                <span id="radio-resource-search-{{d.label | id}}" class="cc-green-checkbox-radio-bgrd-holder"></span>{{d.label}}</span>
            </label></a>
          </li>
          <li role="menuitem" class="cc-ps-menu-item-left-padding" data-ng-if="isCustomPeriodSelected">
            <div class="row">
              <div id="label-resource-search-date-from" class="col-md-2">{{'searchform.customperiod.from' | translate}} </div>
              <div class="col-md-9">
                <p class="input-group">
                  <input id="input-resource-search-date-from" type="text" class="form-control cc-ps-search-modifieddate" placeholder="Date From" data-uib-datepicker-popup="shortDate" data-is-open="filter_by_date.status.from" data-ng-required="true" data-close-text="Close" max-date="tempCustomDate.modifiedTo" data-ng-model="tempCustomDate.modifiedFrom" readonly />
                  <span class="input-group-btn">
                    <button id="btn-resource-search-date-from-calendar" type="button" class="btn btn-default" data-ng-click="filter_by_date.status.from = !filter_by_date.status.from">
                      <i id="icon-resource-search-date-from-calendar" class="fa fa-calendar"></i>
                    </button>
                  </span>
                </p>
              </div>
            </div>
            <div class="row">
              <div id="label-resource-search-date-to" class="col-md-2">{{'searchform.customperiod.to' | translate}} </div>
              <div class="col-md-9">
                <p class="input-group">
                  <input id="input-resource-search-date-to" type="text" class="form-control cc-ps-search-modifieddate" placeholder="Date To" data-uib-datepicker-popup="shortDate" data-is-open="filter_by_date.status.to" data-ng-required="true" data-close-text="Close" min-date="tempCustomDate.modifiedFrom" data-ng-model="tempCustomDate.modifiedTo" readonly/>
                  <span class="input-group-btn">
                    <button id="icon-resource-search-date-to-calendar" type="button" class="btn btn-default" data-ng-click="filter_by_date.status.to = !filter_by_date.status.to">
                      <i id="icon-resource-search-date-to-calendar" class="fa fa-calendar"></i>
                    </button>
                  </span>
                </p>
              </div>
            </div>
          </li>
          <!-- <li role="separator" class="divider"></li>
          <li role="menuitem" class="cc-ps-search-btn-line">
            <button type="button" class="btn btn-default btn-xs cc-ps-search-btn-on-dropdown cc-ps-search-apply-btn" data-ng-click="updateModifiedDate();setDirty();modified_search_open=false">{{"resourcesearch.label.Apply" | translate}}</button>&nbsp;&nbsp; <button type="button" class="btn btn-default btn-xs cc-ps-search-btn-on-dropdown cc-ps-search-cancel-btn" data-ng-click="modified_search_open=false">{{"resourcesearch.label.Cancel" | translate}}</button>
          </li> -->
        </ul>
      </div>
      <div class="btn-group btn-block cc-ps-dropdown-grp cc-ps-search-more-option" data-ng-if="searchOptions.moreOptions.length > 0" data-uib-dropdown keyboard-nav auto-close="outsideClick" is-open="more_search_open">
        <button class="form-control cc-ps-button-common" type="button" uib-dropdown-toggle>
          <span class="cc-ps-dropdown-btn-label">
            <span class="cc-ps-dropdown-btn-title">{{"resourcesearch.label.More" | translate}}</span>
          </span>
          <span class="cc-ps-dropdown-btn-expand-icon"></span>
        </button>
        <ul data-uib-dropdown-menu keyboard-nav class="uib-dropdown-menu cc-ps-dropdown-menu" role="menu">
          <li role="menuitem" class="cc-ps-menu-item-left-padding" data-ng-repeat='option in searchOptions.moreOptions | filter:{open:false}'>
            <a href="javascript:void(0)" class="cc-ps-clickable-dropdown-a"><label class="nobold cc-green-checkbox-radio-label">
              <input type="checkbox" class="cc-green-checkbox-radio" data-ng-model="option.open" value="{{option.name}}" data-ng-true-value="true" data-ng-false-value="false" data-ng-change="more_search_open=false">
              <span class="cc-ps-search-item-label cc-ps-label-for-checkbox-radio">
                <span class="cc-green-checkbox-radio-bgrd-holder"></span>{{option.label}}</span>
            </label></a>
          </li>
        </ul>
      </div>
      <div class="btn-group btn-block cc-ps-dropdown-grp cc-ps-search-more-option-dropdown" data-uib-dropdown keyboard-nav data-ng-repeat='option in searchOptions.moreOptions | filter:{open:true}' auto-close="outsideClick" is-open="more_search_{{$index}}_open">
        <div class="cc-ps-search-dropdown-close">
          <i class="fa fa-times-circle fa-2" data-ng-click="option.open = false"></i>
        </div>
        <button class="form-control cc-ps-button-common" type="button" uib-dropdown-toggle>
          <span class="cc-ps-dropdown-btn-label">{{option.label}}</span>
          <span class="cc-ps-dropdown-btn-expand-icon"></span>
        </button>
        <ul data-uib-dropdown-menu keyboard-nav class="uib-dropdown-menu cc-ps-dropdown-menu" role="menu" data-ng-click="dropdownClicked($event)">
          <li role="menuitem" class="cc-ps-menu-item-left-padding" data-ng-repeat='option in searchOptions.moreOptions'>
            <a href="javascript:void(0)" class="cc-ps-clickable-dropdown-a"><label class="nobold cc-green-checkbox-radio-label">
              <input type="checkbox" class="cc-green-checkbox-radio" data-ng-model="s.$_checked" data-ng-change="" value="{{s.name}}" data-ng-true-value="true">
              <span class="cc-ps-search-item-label cc-ps-label-for-checkbox-radio">
                <span class="cc-green-checkbox-radio-bgrd-holder"></span>{{s.label}}</span>
            </label></a>
          </li>
        </ul>
      </div>
    </div>
    <p class="cc-ps-search-text-container">
      <input id="tf-resource-searchText" data-ng-model="searchCriteria.text" data-ng-model-options="{ debounce: 300 }" class="form-control cc-ps-search-text cc-ps-input-common" placeholder="{{'resourcesearch.text.placeholder' | translate}}" type="text" data-ng-keyup="$event.keyCode == 13 ? applySearch() : null;"  data-ng-change="" />
      <i id="icon-resource-searchText" class="fa fa-search cc-ps-search-icon"></i>
      <!-- <span class="cc-ps-search-include-subresource"><switch class="cc-ps-search-switch-include-sub" data-ng-change="resourceSearchForm.$setDirty();setDirty()" data-ng-model="searchCriteria.withSubresources"></switch></span>
      <input name="withSubresourcesValue" type="hidden" data-ng-model="searchCriteria.withSubresources" value="{{searchCriteria.withSubresources}}">
      <span>{{"resourcesearch.searchsubresource.label."+searchCriteria.withSubresources |translate}}</span> -->
    </p>
    <p>
      <button id="btn-resource-saveSearch" type="button" class="btn cc-ps-search-btn cc-ps-search-save-btn" data-ng-click="saveSearch()" data-ng-disabled="searchCriteria.pristine">{{"resourcesearch.label.saveSearch"|translate}}</button>
      <button id="btn-resource-clearSearch" type="button" class="btn cc-ps-search-btn cc-ps-search-clear-btn" data-ng-click="clearSearch()">{{"resourcesearch.label.clearSearch"|translate}}</button>
      <button id="btn-resource-applySearch" type="submit" class="btn cc-ps-search-apply-btn cc-btn-primary" data-ng-click="applySearch()" data-ng-if="!instantSearch">{{"componentsearch.label.Apply"|translate}}</button>
    </p>
    </span>
</div>
