<td>
    <input class="form-control cc-ps-create-page-common-name cc-create-page-common-input" type="text" data-ng-pattern="'[^~/*$&?\\\\]*'" data-ng-model="obli.name" name="obligation_{{obliIndex}}_name" data-ng-focus="highlightGrammar('obligationInfo')" required ng-maxlength="255" maxlength="255" restrict-input="['~', '/', '*', '$', '&', '\\', '?']"> 
  <div class="cc-validation-block" ng-messages="resourceTypeForm.val['obligation_' + obliIndex + '_name'].$error" ng-if="resourceTypeForm.val['obligation_' + obliIndex + '_name'].$touched">
    <p ng-message="maxlength"> {{"createResource.obligation.name.validation.maxLength" | translate}} </p>
    <p ng-message="required"> {{"createResource.obligation.name.validation.required" | translate}} </p>
    <p ng-message="pattern"> {{"createResource.obligation.name.validation.pattern" | translate}} </p>
  </div>
</td>
<td>
  <input class="form-control cc-ps-create-page-common-sname cc-create-page-common-input" type="text" data-ng-model="obli.shortName" name="obligation_{{obliIndex}}_sname" data-ng-focus="highlightGrammar('obligationInfo')" required ng-maxlength="255" maxlength="255" data-ng-pattern="'[a-zA-Z]+[ -9:;-~]*'" data-ng-disabled="!obli.editableShortName" data-ng-changedisabled = "resetInvalidSname()"/> 
  <div class="cc-validation-block" ng-messages="resourceTypeForm.val['obligation_' + obliIndex + '_sname'].$error" ng-if="resourceTypeForm.val['obligation_' + obliIndex + '_sname'].$touched">
    <p ng-message="maxlength"> {{"createResource.obligation.sname.validation.maxLength" | translate}} </p>
    <p ng-message="required"> {{"createResource.obligation.sname.validation.required" | translate}} </p>
    <p ng-message="pattern"> {{"createResource.shortname.validation.pattern" | translate}} </p>
    <!-- <p ng-if = "IsSnameValid(obli.shortName)"> "{{obli.shortName}}" {{"createResource.shortname.reservedKeyword" | translate}} </p> -->
  </div>
</td>
<td class="td-icon">
  <!-- <button class="btn btn-default cc-ps-create-page-editable-table-btn" data-ng-click="saveEdit(3)">{{'Update' | translate}}</button>
  <button class="btn btn-default cc-ps-create-page-editable-table-btn" data-ng-click="removeObligation($index)">{{'Cancel' | translate}}</button> -->
  <i class="fa fa-check-circle add" aria-hidden="true" data-ng-click="saveEdit(3, obli)" title="Add to table"></i>
  <i class="fa fa-times-circle" aria-hidden="true" data-ng-click="cancelEdit()" title="Cancel"></i>
 <!--  <i class="fa fa-times-circle-o" data-ng-click="removeObligation($index)"> </i> -->

</td>



