<td> {{para.name}}</td>
<td> {{para.shortName}}</td>
<td> {{para.type.label}}</td>
<td> <div class="" data-ng-if="para.type.val == ParameterTypes[2].val">
{{para.listValues}}
</div></td>
<td> {{para.defaultValue}}</td>
<td >
  <!-- <span class="cc-ps-policy-status-switch">
    <switch class="cc-ps-policy-status-switch" data-ng-model="para.hidden" disabled="true"></switch>
    
  </span> -->
  <center class="disabled">
      <div class="cc-green-checkbox-radio-box height-100-percent">
        <label class="nobold ">
          <input type="checkbox" class="cc-green-checkbox-radio" data-ng-model="para.hidden" disabled="true">
          <span>
            <span class="cc-green-checkbox-radio-bgrd-holder"></span>
          </span>
        </label>
      </div>
    <center>
</td>
<td >
  <!-- <span class="cc-ps-policy-status-switch">
    <switch class="cc-ps-policy-status-switch" data-ng-model="para.Editable" disabled="true"></switch>
     
  </span> -->
  <center class="disabled">
      <div class="cc-green-checkbox-radio-box height-100-percent">
        <label class="nobold ">
          <input type="checkbox" class="cc-green-checkbox-radio" data-ng-model="para.editable" disabled="true">
          <span>
            <span class="cc-green-checkbox-radio-bgrd-holder"></span>
          </span>
        </label>
      </div>
    <center>
</td>
<td >
  <!-- <span class="cc-ps-policy-status-switch">
    <switch class="cc-ps-policy-status-switch" data-ng-model="para.Mandatory" disabled="true"></switch>
     
  </span> -->
  <center class="disabled">
      <div class="cc-green-checkbox-radio-box height-100-percent">
        <label class="nobold ">
          <input type="checkbox" class="cc-green-checkbox-radio" data-ng-model="para.mandatory" disabled="true">
          <span>
            <span class="cc-green-checkbox-radio-bgrd-holder"></span>
          </span>
        </label>
      </div>
    <center>
</td>
<td class="td-icon">
  <i class="fa fa-pencil-square-o" aria-hidden="true" data-ng-click="setObliParamEdit(para,3, obliIndex, $index)" title="Edit"></i>
  <i class="fa fa-trash-o" data-ng-click="!checkReferenceBeforeRemoving(obli,3) && removeParameter(obli, $index,1)" title="Delete"> </i>
  <!-- <i class="fa fa-arrows" aria-hidden="true"></i> -->
  <i class="triangle-up" ng-click="!$first && moveUp(obli.parameters, $index)" ng-class="{disabled:$first}"></i>
  <i class="triangle-down" ng-click="!$last && moveDown(obli.parameters, $index)" ng-class="{disabled:$last}"></i>
</td>
