<div class="btn-group cc-dlg-obligation-condition">
    <select class="form-control cc-create-page-common-select" data-ng-model="foldersObj.condition"
        data-ng-options="attribute.attr for attribute in attributes"> </select>
</div>&nbsp;&nbsp;
<folder-view data-item-label="folderPath" data-apply-btn-label="APPLY" data-item-key-field="id"
    data-data-set-save-to="foldersObj.selectedFolders" data-placeholder="{{'folder.select.placeholder' | translate}}"
    data-data-set="foldersObj.folders" data-static-data-set="true" auto-resize-width="true">
</folder-view>
