<div class="cc-ps-tool-list-row">
  <div class="cc-ps-resource-content-container cc-ps-resource-content cc-ps-resource-name-desc"
    data-ng-click="goToEnrolledDataViewer()">
    <p class="cc-ps-resource-name" data-ng-click="goToEnrolledDataViewer()">
      <span title="{{ 'toolManagement.enrolledDataViewer.name' | translate}}">{{ "toolManagement.enrolledDataViewer.name" | translate}}</span>
    </p>
    <p class="cc-ps-description">
      <small title="{{ 'toolManagement.enrolledDataViewer.description' | translate}}">{{ "toolManagement.enrolledDataViewer.description" | translate}}</small>
    </p>
  </div>
</div>
