<section class="links">
    <h3>Get started</h3>
    <ul class="links-list">
        <li><a ng-href="{{splashScreen.links.sample}}" target="_blank">Download sample policies &amp; code</a></li>
        <li><a href="http://csrc.nist.gov/projects/abac/" target="_blank">Learn about ABAC</a></li>
        <li><a ng-href="{{splashScreen.links.terminology}}" target="_blank">Learn the terminology <span class="ext-link"></span></a></li>
        <li><a ng-href="{{splashScreen.links.helpSystem}}" target="_blank">Launch the Help system</a></li>
        <!-- <li><a ng-click="importSamplePolicies()" style="cursor: pointer;">Import sample policies</a></li> -->
    </ul>
    <h3>Get advice</h3>
    <ul class="links-list">
        <li><a href="https://www.nextlabs.com/resources/white-papers/" target="_blank">White papers</a></li>
        <li><a href="https://www.nextlabs.com/resources/case-studies/" target="_blank">Case studies</a></li>
        <li><a ng-href="{{splashScreen.links.faq}}" target="_blank">FAQs</a></li>
    </ul>
    <div class="main-help-link">
        <div>
            <a ng-href="{{splashScreen.links.helpSystem}}" target="_blank">Launch the Help System</a></div>
    </div>
</section>
<section class="contact">
    <div class="contact-links">
        <!-- <a href="mailto:support@nextlabs.com" class="email-lnk">Email Support</a> --><a href="https://customer.nextlabs.com/" target="_blank" class="contact-lnk">Contact support</a></div>
</section>
