<div class="modal-header">
    <h3 class="modal-title" id="password-modal-title">{{"secureStore.modal.changePassword.title" | translate}}</h3>
</div>
<div class="modal-body" id="password-modal-body">
    <div class="row">
        <div class="col-md-12">
            <form name="changePasswordForm" class="form-horizontal">
                <div class="form-group">
                    <label for="newPassword" class="col-sm-4 control-label">{{"secureStore.modal.changePassword.newPassword" | translate}}</label>
                    <input id="newPassword" name="newPassword" type="password" placeholder="Enter new password" data-ng-model="data.newPassword" data-ng-pattern="/^(?:(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^A-Za-z0-9]))(?!.*(.)\1{2,})[A-Za-z0-9!~`<>,;:_=?*+#.\\'\x22&%()\|\[\]\{\}\-\$\^\@\/]{10,128}$/"
                    class="cc-dlg-create-page-editor-input-placeholder cc-create-page-common-input" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword" class="col-sm-4 control-label">{{"secureStore.modal.changePassword.confirmNewPassword" | translate}}</label>
                    <input id="confirmNewPassword" name="confirmNewPassword" type="password" placeholder="Reenter new password" data-ng-model="data.confirmNewPassword"
                    class="cc-dlg-create-page-editor-input-placeholder cc-create-page-common-input" autocomplete="off">
					<p class="cc-dlg-error" data-ng-if="changePasswordForm.newPassword.$invalid"> {{"secureStore.validation.newPassword.pattern" | translate}} </p>
                    <p class="cc-dlg-error" data-ng-if="!changePasswordForm.newPassword.$invalid && (data.newPassword != data.confirmNewPassword)"> {{"secureStore.validation.confirmNewPassword.notMatch" | translate}} </p>
                </div>
            </form>
			<p class="cc-dlg-note">Note: {{"cc.password.requirement" | translate}}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="cancelModal" class="btn btn-default cc-btn-discard" type="button" ng-click="cancel()">
        {{cancelLabel ? cancelLabel : "PS.CANCEL"| translate}}
    </button>
    <button id="submitForm" class="btn btn-default cc-btn-primary" type="button" ng-click="ok()" ng-disabled="(data.newPassword == '' || (data.newPassword != data.confirmNewPassword))">
        {{confirmLabel ? confirmLabel : "PS.CONFIRM"| translate}}
    </button>
</div>