<td style="vertical-align: middle;">
  <span>{{con.attribute.name}}</span>
</td>
<td style="vertical-align: middle;">
  <span>{{con.operator.label}}</span>
</td>
<td style="vertical-align: middle;">
  <span data-ng-if="con.attribute.dataType == 'DATE'">{{con.value | date:'shortDate'}}</span>
  <span data-ng-if="con.attribute.dataType != 'MULTIVAL' && con.attribute.dataType != 'DATE'">{{con.value}}</span>
  <multi-input data-ng-if="con.attribute.dataType == 'MULTIVAL'" data-read-only="true" data-value="con.value" data-type="con.attribute.dataType"></multi-input>
</td>
<td style="vertical-align: middle;" class="td-icon">
  <i class="fa fa-pencil-square-o" aria-hidden="true" data-ng-click="setEdit(con,1)" title="Edit"></i>
  <i class="fa fa-trash-o" data-ng-click="removeAttrCondition($index,1)" title="Delete"> </i>
</td>