<div class="cc-ps-operation-check cc-green-checkbox-radio-box height-100-percent">
  <label class="nobold cc-green-checkbox-radio-label">
    <input id="checkbox-policy-selectAll" type="checkbox" class="cc-green-checkbox-radio cc-green-checkbox-radio" data-ng-model="checkStatus.allPolicyChecked" data-ng-change="checkAllPolicy(checkStatus.allPolicyChecked)"><span><span id="checkbox-span-policy-selectAll" class="cc-green-checkbox-radio-bgrd-holder"></span></span></label>
</div>
<div class="cc-inline cc-ps-operation-btn">
  <button id="btn-policy-delete" class="btn btn-default cc-ps-btn cc-ps-btn-cc-big" title="Delete" data-ng-disabled="!checkStatus.allCheckedItemDeletable || !(checkStatus.hasPolicyChecked || checkStatus.hasFolderChecked)" data-ng-click="bulkDelete($event)"><i class="fa fa-trash"></i></button>
  <button id="btn-policy-deploy" class="btn btn-default cc-ps-btn cc-btn-deploy cc-ps-btn-cc-big" title="Deploy" data-ng-disabled="!checkStatus.allCheckedItemDeployable || !checkStatus.hasPolicyChecked" data-ng-click="deploySelectedPolicies($event)"></button>
  <button id="btn-policy-undeploy" class="btn btn-default cc-ps-btn cc-btn-generate-undeploy cc-ps-btn-cc-big" title="Undeploy" data-ng-disabled="!checkStatus.allCheckedItemDeployable || !checkStatus.hasPolicyChecked" data-ng-click="undeploySelectedPolicies($event)"></button>
  <button id="btn-policy-export" class="btn btn-default cc-ps-btn cc-btn-export cc-ps-btn-cc-big" title="Export" data-ng-disabled="!(checkStatus.hasPolicyChecked || checkStatus.hasFolderChecked)" data-ng-click="exportSelectedPolicies($event)"></button>
  <button id="btn-policy-pdf" class="btn btn-default cc-ps-btn cc-btn-generate-pdf cc-ps-btn-cc-big" title="Generate PDF" data-ng-disabled="!(checkStatus.hasPolicyChecked || checkStatus.hasFolderChecked)" data-ng-click="generatePDF($event)"></button>
  <button id="btn-policy-xacml" class="btn btn-default cc-ps-btn cc-btn-generate-xacml cc-ps-btn-cc-big" title="Generate XACML" data-ng-disabled="!(checkStatus.hasPolicyChecked || checkStatus.hasFolderChecked)" data-ng-click="generateXACML($event)"></button>
  <button id="btn-policy-migrate" class="btn btn-default cc-ps-btn cc-btn-generate-migrate cc-ps-btn-cc-big" title="Migrate Policy" data-ng-disabled="!(checkStatus.hasPolicyChecked || checkStatus.hasFolderChecked) || !(environmentPermissions.VIEW_ENVIRONMENT_CONFIGURATION.menu.result)"  data-ng-click="migrateSelectedPolicies($event)" ng-if="permissions.MIGRATE_POLICY.pageLevel.result"></button>
  <div class="cc-ps-folder-operations">
    <button id="btn-policy-move" class="btn btn-default cc-ps-btn cc-ps-btn-cc-big" title="Move" data-ng-if="folders.open"
      data-ng-disabled="!checkStatus.allCheckedItemMoveable || !(checkStatus.hasParentPolicyChecked || checkStatus.hasFolderChecked) || folders.tree.length == 0" data-ng-click="bulkMove()"><i class="cc-ps-icon-move"></i>
    </button>
    <button id="btn-policy-pdf-new-folder" class="btn btn-default cc-ps-btn cc-btn-new-folder cc-ps-btn-cc-big" title="New Folder"
      data-ng-if="folders.open && permissions" data-ng-click="createFolder();folderTreeCache();"
      data-ng-disabled="!folders.selectedFolder.authoritiesParsed.CREATE_POLICY_FOLDER">
      <i class="cc-ps-icon-new-folder"></i>
    </button>
  </div>
</div>
